
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1484463095405'); /* IE9*/
  src: url('iconfont.eot?t=1484463095405#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1484463095405') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1484463095405') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1484463095405#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before { content: "\e624"; }

.icon-shuaxin:before { content: "\e665"; }

.icon-mima:before { content: "\e61b"; }

.icon-lishi:before { content: "\e60a"; }

.icon-svg11:before { content: "\e832"; }

.icon-tuichu:before { content: "\e600"; }

.icon-fenxi:before { content: "\e60b"; }

